// Font size
$font-base: percentage(10 / 16);  // 1rem = 10px

// Colors
$color-1: #02203f;
$color-2: #000;
$color-3: #000;
$highlight-1: #1183f8;
$highlight-2: #b3ce00;
$highlight-3: #1c6cbe;
$gray: #333;
$gray-dark: #333;
$gray-light: #a2a2a2;
$near-black: #3d3d3d;
$near-white: #f7f7f7;

// Font stacks
$serif: serif;
$sans-serif: sans-serif;
$sans-serif-alt: sans-serif;

// Column Widths - useful for padding
$col-1: percentage(1/12);

// Social Media colors
$twitter: #5ed0ff;
$facebook: #4974cf;
$youtube: #e44b3c;
$rss: #ff9707;

//Bootstrap Breakpoints
$break-xs: 768px;
$break-sm: 992px;
$break-md: 1200px;

// Other Arbitrary Values
$spacing: 15px;
$radius: 5px;
$footer-height:180px;
$header-height:180px;