/**
 * @file layour.scss
 *   Since we always use a framework, the heavy lifting of arranging components
 *   is already done for you via the framework's grid system. Use this
 *   stylesheet for overrides to the framework. You can also define component
 *   or element padding and margins here along with padding and margins for
 *   page sections.
 */
@import "vars";
@import "mixins";
@import "compass/_compass.scss";


html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.wrapper--inner {
  overflow:auto;
	padding-bottom: $footer-height; // must be same height as the footer
} 

footer {
  position: relative;
	margin-top: -1 * $footer-height; // negative value of footer height
	height: $footer-height;
	clear:both;
}